<!-- <header *ngIf="url !== '/login' && url !== '/signup'"> -->
<header>
  <div class="containers">
    <a href="#" routerLink="/" class="logo"> FOOD & DRINKS </a>
    <nav>
      <ul>
        <li>
          <a href="#" routerLink="/cart-page">Cart</a>
          <a href="#" routerLink="/login" *ngIf="!(isLogged$ | async)">Login</a>
          <a href="#" routerLink="/signup">Signup</a>
          <a href="#" *ngIf="isLogged$ | async" (click)="doLogout()">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!-- Modal -->
<div *ngIf="isLogging" class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-body">
    <div class="modal-dialog">
      <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
