<!-- *ngIf="url !== '/login' && url !== '/signup'" -->
<div class="footer">
  <div class="containers">
    <div class="footer-top">
      <div class="time">
        <div>
          <strong>MONDAY-WEDNESDAY:</strong>
          <code style="color: whitesmoke"> 11 A.M. to 3 P.M.</code>
        </div>
        <div>
          <strong>THURSDAY-SATURDAY:</strong>
          <code style="color: whitesmoke">
            11 A.M. to 2 P.M. and 5 P.M. to 8 P.M.</code
          >
        </div>
        <div>
          <strong>SUNDAY:</strong>
          <code style="color: whitesmoke"> Closed</code>
        </div>
      </div>
      <div class="address">
        <u><i>1600 Pennsylvania Ave NW, Washington, DC 20500</i></u>
      </div>
      <div class="status">
        <small
          ><i class="fa-sharp fa-solid fa-hand-point-right"></i> Eat in or take
          out. We accept credit cards, personal checks, and cold-hard
          cash</small
        >
      </div>
    </div>
    <div class="footer-bottom">
      <div class="contact">
        <a href="#"
          ><span><i class="fa-brands fa-square-facebook"></i> FACEBOOK</span></a
        >
        <a href="#"
          ><span><i class="fa-brands fa-square-twitter"></i> TWITTER</span></a
        >
        <a href="#"
          ><span><i class="fa-brands fa-square-youtube"></i> YOUTUBE</span></a
        >
        <a href="#"
          ><span
            ><i class="fa-brands fa-square-instagram"></i> INSTAGRAM</span
          ></a
        >
      </div>
    </div>
  </div>
</div>
