.validation-message {
  font-size: 0.8rem;
  color: red;
}

.error {
  border-color: red;
  box-shadow: none;
}

.modal {
  display: block;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  user-select: none;
}

.modal-dialog {
  left: 50%;
  position: absolute;
  top: 50%;
}

.modal-body {
  height: 100vh;
}

.text-danger {
  color: rgb(223, 17, 17) !important;
}
