.wrapper {
  background: linear-gradient(135deg, rgba(231, 41, 41, 1), white);
}

.wrong-account {
  padding: 0.5rem;
  border: 1px solid red;
  background-color: rgb(229, 145, 145);
  text-align: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.modal {
  display: block;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  user-select: none;
}

.modal-dialog {
  left: 50%;
  position: absolute;
  top: 50%;
}

.modal-body {
  height: 100vh;
}

.text-danger {
  color: rgb(223, 17, 17) !important;
}
