ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-wrap: wrap;
  list-style-type: none;
}

ul li a {
  height: 30rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  border-radius: 1rem;
  border: 1px solid whitesmoke;
  color: #e72929;
  overflow: hidden;
}

li a:hover {
  opacity: 0.9;
  cursor: pointer;
}

.content {
  padding: 0.5rem 1rem;
  position: relative;
}

.favorite {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  font-size: 1.2rem;
}

.favorite.not {
  color: black;
}

.start {
  margin-bottom: 0.2rem;
}

.product-item-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.origins {
  flex: 9;
}

.origins span {
  border-radius: 2rem;
  background-color: whitesmoke;
  color: gray;
  font-size: 0.8rem;
  margin-right: 0.3rem;
  display: inline-block;
}

.cook-time {
  flex: 3;
  font-size: 0.8rem;
  text-align: right;
}

.price {
  color: #424242;
  margin-top: 0.2rem;
}
